@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");
@import "tailwindcss";

@theme {
  /* color theme to be used in website , naming convention = component in which color is used + the shade of color */
  --color-theme-orange: #ff850b;
  --color-theme-white: #ffffff;
  --color-hero-blue-light: #2b15d2;
  --color-hero-blue-dark: #151a7d;
  --color-body-purple: #1a05fd;
  --color-body-blue: #1a05fd;
  --color-contact-form-blue: #08156b;

  /* gradients to be used in website, naming convention = component in which the gradient is used + the shades of gradient */
  --background-image-hero-blue: linear-gradient(
    90deg,
    var(--color-hero-blue-dark) 0%,
    var(--color-hero-blue-light) 100%
  );
  --background-image-hero-blue: linear-gradient(
    90deg,
    var(--color-body-blue) 0%,

    /* theme font change to inter use font-inter to access it */
    --font-inter: "Inter", sans-serif;
  );
}

@theme inline {
  --font-sans: var(--font-inter);
}